.classpath
.metadata/
.project
*.db
.settings/
doc/
*.ucls
*.*.swp

*.properties

.idea
.gradle
build
out
*.iml
*.class
*.log

bin/waker.properties
bin/bundles
bin/Waker.html
bin/Waker.jnlp
src/waker/still_blastin.mp3
bin/native/
/bin/
